@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Next.js Dev Tools/Toast */
[data-nextjs-toast], [data-nextjs-dev-tools], #next-route-announcer {
  display: none !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}
